<div class="container">
  <div class="row">
    <div class="col-12">
      Add New Servers or Blueprints
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-server-form (serverCreation) = "onServerAdded($event)"
      (blueprintCreation)= "onBlueprintAdded($event)"></app-server-form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <app-server *ngFor="let serverElement of serverElements"
        [el]='serverElement'></app-server>
    </div>
  </div>
</div>
